@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
}

.container {
  margin: 50px 50px 0 50px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 100%;
}

nav a {
  text-decoration: none;
  width: 50%;
  color: black;
  padding: 20px;
}

nav a:hover,
nav a:active {
  border-top: 2px solid #0065fc;
  padding-top: 48px;
  color: #0065fc;
  font-weight: 500;
}

h1 {
  padding-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 1em;
}

form {
  margin: 20px 0;
  display: flex;
}

.search-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  gap: 10px;
  font-size: 1.2em;
}

label {
  font-size: 18px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 14px 15px 14px 18px;
  position: absolute;
  z-index: 3;
}

.marseille {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  padding: 14px 66px;
  z-index: 1;
}

.btn-search {
  color: white;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 14px 0px 14px 15px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway";
  z-index: 2;
  position: absolute;
  margin-left: 250px;
}

.fa-magnifying-glass {
  color: white !important;
  visibility: hidden;
}

input {
  border: 1px;
  border-color: #f2f2f2;
  padding: 10px 0;
}

.filter-bar {
  padding: 10px 0 50px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter {
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 0 15px;
}

.filter:hover {
  background-color: #deebff;
}

.fa-solid {
  color: #0065fc;
  padding-right: 3px;
}

.fa-solid.fa-location-dot {
  color: black;
}

.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.i {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.fa-info {
  font-size: 0.7em;
  padding-top: 0.4em;
  padding-left: 0.3em;
}

.circle {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin-right: 0.5em;
}

main {
  display: flex;  
}

#accommodation {
  background-color: #f2f2f2;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px;
  margin-right: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:30px;
}

#accommodation a,  #popular a, #activities a {
text-decoration: none;
color: black;
}

#accommodation a:hover, #popular a:hover, #activities a:hover {
  color:#0065fc;
}

#accommodation h2, #popular h2 {
  padding-bottom: 20px;
}

#accommodation h3 {
  padding-top: 40px;
  font-size: 18px;
}

#accommodation div {
  margin-bottom: 0px;
}

.card-hebergements{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 246px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-hebergements:hover, .card-popular:hover, .card-activity:hover, .activity-title:hover {
  background-color: #deebff;
  box-shadow: rgba(51, 54, 57, 0.33) 0px 8px 24px;
}

.card-hebergements img{
  border-radius: 20px 20px 0 0;
  width: 100% -10px;
  height: 124px;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}

.card-title {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 5px;
}

.card-price {
  font-size: 14px;
  padding-bottom: 7px;
}

.stars {
  font-size: 12px;
  letter-spacing: -0.2em;
}

.grey-star {
  color: #F2F2F2;
}

#popular {
  background-color: #f2f2f2;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px 38px 0 38px;
  width: 22%;
}

.popular-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.card-popular{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  height: 144px;
  padding: 5px;
  margin-bottom: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-width: 100%;
}

.card-popular img{
  border-radius: 20px 0 0 20px;
  width: 137px;
  object-fit: cover;
}

.card-container-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
}

.title-price p {
  padding-bottom: 7px;
}

.card-title-popular {
  font-weight: bold;
  font-size: 16px;
}

#activities {
  margin-bottom: 40px;
}

#activities h2 {
  margin: 50px 0 20px 0;
}

.cards-activities {
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  gap: 4%;
}

.card-activity {
  height: 445px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
  position: relative;
}

.card-activity img{
  border-radius: 21px;
  object-fit: cover;
  height: 100%;
}

.activity-title {
  background-color: white;
  border-radius: 0 0 20px 20px;
  height: 56px;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  display: flex;
}

.activity-title:hover {
  box-shadow:none;
}

.title-card-activity {
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  display: flex;
  margin: auto 0;
}

footer {
  background-color: #f2f2f2;
  height: 225px;
}

.menu-footer {
  margin: 40px;
  display: flex;
  flex-direction: row;
}

footer h3 {
  padding-bottom: 15px;
}

footer a {
  text-decoration: none;
  color: black;
  padding: 7px 0;
}

.about, .our-accommodation, .assistance {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  width: 29%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    margin: 50px 50px 0 50px;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }

  #accommodation, #popular {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  .cards {
    gap: 25px;
  }

  .card-hebergements{
    width: 240px;
  }

  .cards-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-popular {
    width: 252px;
  }

  .card-container-popular {
    padding: 5px 15px;
}

  .card-popular img{
    border-radius: 20px 0 0 20px;
    width: 106px;
    object-fit: cover;
  }

  .card-title-popular {
    font-weight: bold;
    font-size: 14px;
  }

  .card-price {
    font-size: 13px;
  }

  #activities h2 {
    margin: 30px 0;
}

.cards-activities {
  display: grid;
  grid-template-columns: 20.5% 20.5% 20.5% 20.5%;
  gap: 6%;
}

  .card-activity {
    height: 267px;
}
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  header {
    display: inline-block;
    text-align: center;
  }

  header img {
    padding: 20px 0 30px 0;
  }

  nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  nav a {
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }

  nav a:hover,
  nav a:active {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 20px;
  }

  #search, .infobar, main, #activities {
    margin: 0 20px;
  }

  .search {
    display: none;
  }

  .marseille {
    padding: 11px 40px 11px 60px;
  }

  label {
    padding: 11px 15px;
  }

  .btn-search {
    padding: 11px 15px 11px 15px;
    margin-left: 230px;
  }

  .fa-magnifying-glass {
    visibility: visible;
  }

  .filter-bar {
    display: unset;
  }

  .filters {
    margin-top: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
  }

  .filter {
    margin: 0;
  }

  .infobar {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer {
    display: none;
  }
}
