@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
}

.container {
  margin: 50px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 100%;
}

nav a {
  text-decoration: none;
  width: 50%;
  color: black;
  padding: 20px;
}

nav a:hover,
nav a:active {
  border-top: 2px solid #0065fc;
  padding-top: 48px;
  color: #0065fc;
  font-weight: 500;
}

h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 0.95em;
}

section div {
  margin-bottom: 40px;
}

form {
  margin: 20px 0;
  display: flex;
}

.search-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0px;
  gap: 10px;
  font-size: 1.2em;
}

/* #city {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  font-size: 0.9em;
  font-family: "Raleway";
  font-weight: 700;
  padding: 10px 70px;
  position: absolute;
  left: 0%;
  margin-left: 50px;
  z-index: 1;
} */

label {
  font-size: 18px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 14px 15px 14px 18px;
  position: absolute;
  z-index: 3;
}

.marseille {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Raleway";
  font-weight: 700;
  padding: 14px 66px;
  z-index: 1;
}

.btn-search {
  color: white;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 14px 0px 14px 15px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Raleway";
  z-index: 2;
  position: absolute;
  margin-left: 250px;
}

.fa-magnifying-glass {
  color: white !important;
  visibility: hidden;
}

input {
  border: 1px;
  border-color: #f2f2f2;
  padding: 10px;
}

.fa-solid {
  color: #0065fc;
}

.fa-solid.fa-location-dot {
  color: black;
}

.infobar,
.filters {
  display: flex;
  align-items: center;
}

.fa-info {
  font-size: 0.8em;
  padding-left: 8px;
  display: flex;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin-right: 0.5em;
}

main {
  display: flex;
}

#accommodation {
  background-color: #f2f2f2;
  height: 626px;
  width: 880px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px;
  margin-right: 40px;
}

#popular {
  background-color: #f2f2f2;
  height: 626px;
  width: 420px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px;
}

footer {
  background-color: #f2f2f2;
  height: 225px;
  width: 1340px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  header {
    display: inline-block;
    text-align: center;
  }

  header img {
    padding: 20px 0 30px 0;
  }

  nav {
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  nav a {
    border-bottom: 3px solid #f2f2f2;
    width: 50%;
  }

  nav a:hover,
  nav a:active {
    border-bottom: 3px solid #0065fc;
    border-top: none;
    padding: 20px;
  }

  #search {
    margin: 0 20px;
  }

  .search {
    display: none;
  }

  .marseille {
    padding: 11px 40px 11px 60px;
  }

  label {
    padding: 11px 15px;
  }

  .btn-search {
    padding: 11px 15px 11px 15px;
    margin-left: 230px;
  }

  .fa-magnifying-glass {
    visibility: visible;
  }

  footer {
    display: none;
  }
}
