@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* font-family: 'Raleway', sans-serif; */

* {
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1400px;
  margin: auto;
}

.container {
  margin: 50px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
  text-align: center;
}

a:hover,
a:active,
a:focus {
  color: #0065fc;
  text-decoration: underline #0065fc;
  text-decoration-thickness: 2px;
  text-underline-offset: -4rem;
}

/* class="rectangle-hover"
.rectangle-hover {
  background: #0065fc;
  position: absolute;
  width: 162px;
  height: 2px;
  left: 1092px;
  top: 0px;
  display: none;
} */

h2 {
  font-size: 1.3em;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

p {
  font-size: 0.95em;
}

form {
  margin: 20px 0;
}

.search-city {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 15px 16px; */
  gap: 10px;
  font-size: 1.2em;
}

.marseille {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  font-size: 0.9em;
  font-family: "Raleway";
}

.btn-search {
  color: white;
  background: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 0.9em;
  font-family: "Raleway";
}

label {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  padding: 10px 20px;
}

input {
  border: 1px;
  border-color: #f2f2f2;
  padding: 10px;
}

.fa-solid {
  color: #0065fc;
}

.fa-solid.fa-location-dot {
  color: black;
}

.infobar,
.filters {
  display: flex;
  align-items: center;
}

.fa-info {
  font-size: 0.8em;
  padding-left: 8px;
  display: flex;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  margin-right: 0.5em;
}

main {
  display: flex;
}

#accommodation {
  background-color: #f2f2f2;
  height: 626px;
  width: 880px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px;
  margin-right: 40px;
}

#popular {
  background-color: #f2f2f2;
  height: 626px;
  width: 420px;
  left: 0px;
  top: 0px;
  border-radius: 20px;
  padding: 40px;
}

footer {
  background-color: #f2f2f2;
  height: 225px;
  width: 1340px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header img {
    padding: 20px 0 30px 0;
  }

  a {
    text-decoration: underline #f2f2f2;
    text-decoration-thickness: 3px;
    text-underline-offset: 1em;
  }

  a:hover,
  a:active,
  a:focus {
    color: #0065fc;
    text-decoration: underline #0065fc;
    text-decoration-thickness: 3px;
    text-underline-offset: 1em;
  }

  .content,
  footer {
    display: none;
  }
}
